<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">For 90 percent of people the road to saving, paying off debt, and investing is identical. These people can take exact same steps to achieve financial freedom. Our service makes these steps automatic and headache free. All the hard decisions are made “By Default” and app acts in you best interest.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
